<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink="/home">Home</a></li>
    <li
      *ngFor="let breadcrumb of breadcrumbs; let i = index"
      class="breadcrumb-item"
      [class]="i == breadcrumbs.length - 1 ? 'active' : ''"
    >
      <a
        *ngIf="i < breadcrumbs.length - 1; else showLast"
        routerLink="/{{ breadcrumb.path }}"
        >{{ breadcrumb.title | titlecase }}</a
      >
      <ng-template #showLast>{{ breadcrumb.title | titlecase }}</ng-template>
    </li>
  </ol>
</nav>

<div *ngIf="showError; else noError" class="alert alert-danger">
  {{ errorMsg }}
</div>

<div *ngIf="showLoading">
  <div class="lds-ellipsis">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </div>
</div>

<ng-template #noError>
  <div *ngIf="showSubLabels && !showLoading" class="list-group">
    <a
      *ngFor="let label of subLabels"
      routerLink="{{ label.path }}"
      class="list-group-item"
      >{{ label.title | titlecase }}</a
    >
  </div>

  <div *ngIf="showCalendars">
    <app-calendar
      *ngFor="let calendar of calendars"
      [year]="calendar.y"
      [month]="calendar.m"
      [relpath]="calendar.p"
    ></app-calendar>
  </div>
</ng-template>
