<nav aria-label="breadcrumb">
  <ol class="breadcrumb rounded-0">
    <li class="breadcrumb-item">
      <a routerLink="/home"
        ><svg
          xmlns="http://www.w3.org/2000/svg"
          width="16"
          height="16"
          fill="currentColor"
          class="bi bi-house-door-fill"
          viewBox="0 0 16 16"
        >
          <path
            d="M6.5 14.5v-3.505c0-.245.25-.495.5-.495h2c.25 0 .5.25.5.5v3.5a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5z"
          /></svg
      ></a>
    </li>
    <li
      *ngFor="let breadcrumb of breadcrumbs; let i = index"
      class="breadcrumb-item"
      [class]="i == breadcrumbs.length - 1 ? 'active' : ''"
    >
      <a
        *ngIf="i < breadcrumbs.length - 1; else showLast"
        routerLink="/{{ breadcrumb.path }}"
        >{{ breadcrumb.title | titlecase }}</a
      >
      <ng-template #showLast>{{ breadcrumb.title | titlecase }}</ng-template>
    </li>
  </ol>
</nav>

<div *ngIf="showError; else noError" class="alert alert-danger m-3">
  {{ errorMsg }}
</div>

<div *ngIf="showLoading" class="loader bg-warning"></div>

<ng-template #noError>
  <div *ngIf="showSubLabels && !showLoading" class="list-group m-3">
    <a
      *ngFor="let label of subLabels"
      routerLink="{{ label.path }}"
      class="list-group-item"
      >{{ label.title | titlecase }}</a
    >
  </div>

  <div *ngIf="showCalendars" class="m-3">
    <app-calendar
      *ngFor="let calendar of calendars"
      [year]="calendar.y"
      [month]="calendar.m"
      [relpath]="calendar.p"
    ></app-calendar>
  </div>
</ng-template>
