<div *ngIf="quizzes.length" class="list-group">
  <a
    *ngFor="let quiz of quizzes"
    class="list-group-item"
    routerLink="{{ quiz.id }}"
    >{{ quiz.id }}</a
  >
</div>

<div *ngIf="question | async" class="card" id="{{ question.id }}">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">
      {{ question.question }}
    </p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Cras justo odio</li>
    <li class="list-group-item">Dapibus ac facilisis in</li>
    <li class="list-group-item">Vestibulum at eros</li>
  </ul>
  <div class="card-body">
    <button *ngIf="questionIndex" (click)="prev()" class="btn btn-primary mr-3">
      Prev
    </button>
    <button
      *ngIf="questionIndex < questions.length - 1"
      (click)="next()"
      class="btn btn-primary"
    >
      Next
    </button>
  </div>
</div>
