<app-labels
  page="practice"
  (showQuestions)="showQuestions($event)"
></app-labels>

<div *ngIf="questions.length">
  <div>
    <app-question
      *ngFor="let question of questions; let i = index"
      [class]="i != offset ? 'd-none' : ''"
      [id]="question.id"
      [updated_at]="question.updated_at"
      (loaded)="loaded($event)"
      (response)="response($event)"
    >
    </app-question>
  </div>
  <nav *ngIf="showPaginator | async">
    <ul class="pagination justify-content-center mt-3">
      <li class="page-item w-50 mr-2" [class]="offset == 0 ? 'invisible' : ''">
        <a (click)="prev()" class="btn bg-info text-light page-link"
          ><i class="bi bi-arrow-left"></i> Prev</a
        >
      </li>
      <li
        class="page-item w-50"
        [class]="offset == count - 1 ? 'invisible' : ''"
      >
        <a (click)="next()" class="btn bg-info text-light page-link"
          >Next <i class="bi bi-arrow-right"></i
        ></a>
      </li>
    </ul>
  </nav>
</div>
